
.icon-dog:before { content: '\e800'; } /* '' */
.icon-lista:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\f301'; } /* '' */